@charset "UTF-8";
:root {
  --text-color-white: #bdebea;
  --text-color-black: #252728;
  --text-color-green: linear-gradient(#00f5a0 0%, #00d9f5 100%);
  --text-color-job: #d7e5ec;
  --text-color-title-project: #d7f2f2;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #bdebea;
  background: #041f31;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  overflow: hidden;
  background: #041f31;
  z-index: 30;
}
@media screen and (min-width: 320px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 23px 0;
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 27px 0;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    padding: 23px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 738px;
  }
}
@media screen and (min-width: 1100px) {
  .navigation {
    width: 1070px;
  }
}
.navigation button {
  background: var(--text-color-green);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 12px 20px;
}
.navigation button a {
  color: var(--text-color-black);
  font-weight: 500;
  line-height: 1.2;
}
.navigation button a:hover {
  color: var(--text-color-white);
}

.menu-list a {
  position: relative;
  color: var(--text-color-white);
  padding: 0 23px;
}
@media screen and (min-width: 320px) {
  .menu-list {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .menu-list {
    gap: 150px;
  }
}
@media screen and (min-width: 1100px) {
  .menu-list li:nth-child(1) {
    margin-right: 387px;
  }
}
@media screen and (min-width: 1100px) {
  .menu-list li:nth-child(2) {
    margin-right: 99px;
  }
}

@media screen and (min-width: 480px) {
  .menu-list__link-active::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    content: "";
    color: var(--text-color-black);
    background: var(--text-color-green);
    border-radius: 6px;
    width: 100%;
    height: 3px;
    bottom: -11px;
  }
}

@media screen and (min-width: 320px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 30px;
  }
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__icon-home {
  fill: var(--text-color-white);
}

.mobile-menu__icon-web {
  fill: var(--text-color-white);
}

@media screen and (min-width: 320px) {
  .hero {
    padding: 96px 0 72px;
  }
}
@media screen and (min-width: 1100px) {
  .hero {
    padding: 96px 0 263px;
    margin: 0 auto;
  }
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .hero-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1100px) {
  .hero-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}

.hero-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .hero-svg {
    width: 290px;
    height: 290px;
  }
}
@media screen and (min-width: 480px) {
  .hero-svg {
    margin: 0 auto;
    width: 450px;
    height: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-svg {
    width: 500px;
    height: 500px;
  }
}
@media screen and (min-width: 1100px) {
  .hero-svg {
    position: absolute;
    top: -37%;
    left: 55%;
  }
}

@media screen and (min-width: 1100px) {
  .hero-description {
    width: 514px;
    height: 280px;
  }
}
.hero-description h1 {
  font-family: "Tinos", Times, serif;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--text-color-job);
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) {
  .hero-description h1 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1100px) {
  .hero-description h1 {
    font-size: 20px;
  }
}
.hero-description h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--text-color-green);
}
@media screen and (min-width: 320px) {
  .hero-description h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1100px) {
  .hero-description h2 {
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 11px;
  }
}
.hero-description p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
}
@media screen and (min-width: 320px) {
  .hero-description p {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1100px) {
  .hero-description p {
    margin-bottom: 29px;
  }
}

@media screen and (min-width: 320px) {
  .hero-btn {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .hero-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero-btn button {
  background: var(--text-color-green);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 12px 20px;
  margin-right: 210px;
  margin-bottom: 105px;
}
@media screen and (min-width: 320px) {
  .hero-btn button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .hero-btn button {
    margin: 0 210px 105px 0;
  }
}
.hero-btn button a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color-black);
}
.hero-btn button a:hover {
  color: var(--text-color-white);
}
.hero-btn :nth-child(2) {
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .hero-scrolle {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .hero-scrolle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) {
  .about-me {
    padding: 0 0 72px 0;
  }
}
@media screen and (min-width: 1100px) {
  .about-me {
    padding: 0 0 130px 0;
  }
}
.about-me h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) {
  .about-me p {
    font-size: 18px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1100px) {
  .about-me p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 843px;
    position: relative;
    padding-left: 17px;
  }
}
@media screen and (min-width: 1100px) {
  .about-me p::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 5px;
    height: 116px;
    left: 0;
    top: 0;
    position: absolute;
    background: var(--text-color-green);
    border-radius: 2px;
  }
}

@media screen and (min-width: 320px) {
  .project {
    padding: 0 0 105px 0;
  }
}
@media screen and (min-width: 1100px) {
  .project {
    padding: 0 0 130px 0;
  }
}
.project h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  margin-bottom: 32px;
}
@media screen and (min-width: 320px) {
  .project img {
    width: 290px;
    min-height: 194px;
  }
}
@media screen and (min-width: 480px) {
  .project img {
    width: 450px;
    height: 318px;
  }
}
@media screen and (min-width: 768px) {
  .project img {
    width: 100%;
    height: 388px;
  }
}

@media screen and (min-width: 1100px) {
  .project-direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 27px;
  }
}

@media screen and (min-width: 320px) {
  .project-content {
    padding: 16px 6px 19px 17px;
  }
}
@media screen and (min-width: 480px) {
  .project-content {
    padding: 29px 9px 31px 26px;
  }
}
.project-content h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(text-color-title-project);
  text-transform: uppercase;
  margin-bottom: 11px;
}
.project-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
}
@media screen and (min-width: 320px) {
  .project-content p {
    margin: 16px 0 34px 0;
  }
}
.project-content p p:last-child {
  margin-bottom: 0;
}

.project-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.project-tech button {
  background: var(--text-color-green);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.12em;
  color: var(--text-color-black);
}

.project-btn {
  background: var(--text-color-green);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.project-direction__link {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--text-color-black);
}
.project-direction__link:hover {
  color: var(--text-color-white);
}

@media screen and (min-width: 320px) {
  .skills {
    padding: 0 0 100px 0;
  }
}
@media screen and (min-width: 1100px) {
  .skills {
    padding: 0 0 280px 0;
  }
}
.skills h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
}
@media screen and (min-width: 320px) {
  .skills h2 {
    margin-bottom: 17px;
  }
}
.skills h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(text-color-title-project);
  margin: 11px 0 11px 0;
}
.skills p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-top: 11px;
  text-align: center;
  width: 83px;
}
@media screen and (min-width: 320px) {
  .skills p {
    margin-top: 0;
  }
}

.skills__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .skills__direction {
    gap: 60px;
  }
}
@media screen and (min-width: 480px) {
  .skills__direction {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .skills__direction {
    gap: 20px 60px;
  }
}
.skills__direction svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .skills__direction svg {
    width: 79px;
    height: 79px;
  }
}
@media screen and (min-width: 768px) {
  .skills__direction svg {
    width: 85px;
    height: 85px;
  }
}
@media screen and (min-width: 1100px) {
  .skills__direction svg {
    width: 128px;
    height: 128px;
  }
}
@media screen and (min-width: 1100px) {
  .skills__direction {
    margin-bottom: 59px;
  }
}

@media screen and (min-width: 320px) {
  footer {
    padding: 0 0 72px 0;
  }
}
@media screen and (min-width: 1100px) {
  footer {
    padding: 0 0 92px 0;
  }
}
footer p:last-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-white);
  text-align: center;
}

.footer-social__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 49px;
}
@media screen and (min-width: 320px) {
  .footer-social__direction {
    gap: 55px;
  }
}
@media screen and (min-width: 1100px) {
  .footer-social__direction {
    gap: 75px;
  }
}

.footer-social__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--text-color-green);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 9px;
}
.footer-social__border:hover {
  position: relative;
  bottom: 1em;
}

.footer-social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social__icon p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-white);
}
@media screen and (min-width: 320px) {
  .footer-social__icon p {
    font-size: 12px;
    line-height: 0.9;
    letter-spacing: 0.12em;
  }
}
@media screen and (min-width: 1100px) {
  .footer-social__icon p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}

.footer-nav__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
}
@media screen and (min-width: 320px) {
  .footer-nav__direction {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 480px) {
  .footer-nav__direction {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .footer-nav__direction {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 190px;
  }
}

.footer-nav__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-color-white);
}

@media screen and (min-width: 320px) {
  .portfolio {
    padding: 96px 0 105px 0;
  }
}
@media screen and (min-width: 1100px) {
  .portfolio {
    padding: 96px 0 130px 0;
  }
}
.portfolio h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  margin-bottom: 32px;
}
@media screen and (min-width: 320px) {
  .portfolio img {
    width: 290px;
    min-height: 194px;
  }
}
@media screen and (min-width: 480px) {
  .portfolio img {
    width: 450px;
    height: 318px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio img {
    width: 100%;
    height: 388px;
  }
}

@media screen and (min-width: 1100px) {
  .project__direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 27px;
  }
}

.project__wrapper-layer {
  position: relative;
}

.project__layer-link {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--text-color-green);
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-weight: 600;
  color: #C05353;
}

@media screen and (min-width: 320px) {
  .project-content {
    padding: 16px 6px 19px 17px;
  }
}
@media screen and (min-width: 480px) {
  .project-content {
    padding: 29px 9px 31px 26px;
  }
}
.project-content h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(text-color-title-project);
  text-transform: uppercase;
  margin-bottom: 11px;
}
.project-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
}
@media screen and (min-width: 320px) {
  .project-content p {
    margin: 16px 0 34px 0;
  }
}
.project-content p p:last-child {
  margin-bottom: 0;
}

.project-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.project-tech button {
  background: var(--text-color-green);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.12em;
  color: var(--text-color-black);
}

@media screen and (min-width: 320px) {
  .resume {
    padding: 96px 0 105px 0;
  }
}
@media screen and (min-width: 1100px) {
  .resume {
    padding: 96px 0 130px 0;
  }
}
.resume h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  margin-bottom: 32px;
}

.main_content {
  background: #f5f7fa;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .main_content {
    width: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 480px) {
  .main_content {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .main_content {
    width: 738px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1100px) {
  .main_content {
    width: 1070px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
@media screen and (min-width: 320px) {
  .sidebar {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .sidebar {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 255px;
  }
}
@media screen and (min-width: 1100px) {
  .sidebar {
    width: 370px;
  }
}
@media screen and (min-width: 320px) {
  .sidebar img {
    width: 290px;
    height: 290px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 480px) {
  .sidebar img {
    width: 370px;
    height: 370px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar img {
    width: 255px;
    height: 255px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 370px) {
  .sidebar img {
    width: 370px;
    height: 370px;
  }
}

.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) {
  .contacts,
.techskills,
.softskills {
    margin-left: 17px;
  }
}
@media screen and (min-width: 480px) {
  .contacts,
.techskills,
.softskills {
    margin-left: 27px;
  }
}
@media screen and (min-width: 768px) {
  .contacts,
.techskills,
.softskills {
    margin-left: 17px;
  }
}
@media screen and (min-width: 1100px) {
  .contacts,
.techskills,
.softskills {
    margin-left: 40px;
  }
}

.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  margin-right: 10px;
}

.contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  opacity: 0.5; /* цвет не менял, применил свойство прозрачность в макете так и стоит*/
}

@media screen and (min-width: 320px) {
  .contacts {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-bottom: 50px;
  }
}

.tech-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 320px) {
  .techskills {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  .techskills {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 320px) {
  .softskills {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .softskills {
    margin-bottom: 366px;
  }
}

.about_user {
  background-color: #ffffff;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 320px) {
  .about_user {
    padding: 40px 7px 40px 7px;
  }
}
@media screen and (min-width: 480px) {
  .about_user {
    padding: 40px 17px 40px 17px;
  }
}
@media screen and (min-width: 768px) {
  .about_user {
    padding: 105px 40px;
  }
}

.about h2 {
  font-family: "Tinos", "Times New    Roman", Times, serif;
  text-transform: uppercase;
  line-height: 1.15;
  color: #000000;
}
@media screen and (min-width: 320px) {
  .about h2 {
    font-family: "Tinos", "Times New    Roman", Times, serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .about h2 {
    margin-bottom: 40px;
  }
}
.about h3 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 600;
  margin-bottom: 25px;
}
@media screen and (min-width: 320px) {
  .about h3 {
    font-size: 35px;
    line-height: 1;
  }
}
@media screen and (min-width: 768px) {
  .about h3 {
    font-size: 45px;
    line-height: 1.2;
  }
}
.about p {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: #595959;
}
@media screen and (min-width: 320px) {
  .about p {
    width: 275px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) {
  .about p {
    width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .about p {
    width: 400px;
  }
}
@media screen and (min-width: 1100px) {
  .about p {
    width: 620px;
  }
}

@media screen and (min-width: 320px) {
  .projects {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    margin-bottom: 50px;
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  color: #000000;
}

.project-list {
  padding: 9px;
  margin-left: 17px;
}

.project-items,
.project-braked {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
}

.project-link,
.project-link-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #595959;
}

.project-link-style-my {
  color: #595959;
  text-decoration: none;
  border-bottom: 0.3em dashed #fb6d3a;
  padding-bottom: 0.3em;
  /*отступ от текста вниз*/
  padding: 0.1em;
}

.project-link-style-my:hover {
  position: relative;
  bottom: 1em;
  color: #fb6d3a;
}

.project-link {
  margin-left: 10px;
}

.work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  color: #fb6d3a;
}

.specialist {
  font-weight: bold;
  color: var(--text-color-black);
}

.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  color: #595959;
}

.work-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #595959;
}

.goose {
  border: 3px dashed goldenrod;
}
@media screen and (min-width: 1100px) {
  .goose {
    padding: 96px 0 10px 0;
  }
}
.goose h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  margin-bottom: 32px;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  border: 3px dashed red;
}

.main-page {
  background: -webkit-gradient(linear, right top, left top, from(#A5DEFF), to(#FCFEFF));
  background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px dashed yellow;
}

.logo {
  margin: 34px 0 58px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.logo__text {
  margin-left: 18px;
  font-size: 16px;
  color: #000;
}

.main-page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banderogus-container {
  background-color: #ffffff;
  padding: 60px 56px;
  -ms-flex-item-align: center;
      align-self: center;
}

.banderogus-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
}

.banderogus-greeting {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.banderogus-start-text {
  color: #ff6b0a;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 48px;
}

.banderogus-descr {
  color: #1b1d1f;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 24px 0 48px 0;
}

.banderogus-launch {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  border: 0;
}

.gus-facts {
  padding: 52px 0 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 3px dashed navajowhite;
}

.gus-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 2.08;
  color: #1b1d1f;
  margin: 16px 0;
}

.gus-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #1b1d1f;
  width: 875px;
  border: 3px dashed #ff6b0a;
}

.gus-facts-conteiner {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px dashed #ff6b0a;
}

.gus-fact-item {
  width: 33%;
}

.gus-fact-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #1b1d1f;
  margin: 12 px 0 32px 0;
}

.gus-fact-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1b1d1f;
  width: 280px;
}

.victory__bg {
  background: -webkit-gradient(linear, right top, left top, from(#c1e8ff), to(#ffffff));
  background: linear-gradient(270deg, #c1e8ff 0%, #ffffff 100%);
  width: 100%;
  padding: 72px 0;
  margin-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px dashed orange;
}

.victory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.victory__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 2.08;
  color: #1b1d1f;
  margin: 16px 0;
}

.victory__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1b1d1f;
  width: 875px;
  text-align: center;
}

.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(27, 29, 31, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  /*добавил так как небыло фона*/
  padding: 32px 64px 60px 64px;
  /*добавил т.к. растягивало на весь экран*/
  position: relative;
}

.modal-form-container {
  background: #ffffff;
  padding: 32px 92px 60px 92px;
  position: relative;
}

.model-form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin: 32px 0 12px 0;
}

.modal-form-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 24px;
}

.modal-form-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.modal-field-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #000000;
}

.modal-field-input {
  border: 1px solid #005bbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 4px 8px;
}

.modal-form-btn {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  margin-top: 24px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #1b1d1f;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal-descr {
  margin-bottom: 0;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.header-book {
  margin: 0 auto;
  background: #fff;
}

.nav__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.nav__list-menu a {
  color: #1c1b1b;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.65;
}

.nav__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.hero-book {
  background: #f0efeb;
}

.hero__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__direction h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 42px;
}
.hero__direction p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 26px;
}
.hero__direction button {
  border-radius: 100px;
  background: #000;
  padding: 7px 23px;
}
.hero__direction button a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.17;
  color: #fff;
}

.explain {
  background: #fff;
  padding: 60px 0 87px 0;
  margin: 0 auto;
}
.explain h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 26px;
  text-align: center;
}
.explain p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 47px;
  text-align: center;
}

.bestseller {
  padding: 0 0 240px 0;
  background: #fff;
}

.bestseller h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 52px;
  text-align: center;
}

.bestseller__card-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin: 0 auto;
}
.bestseller__card-direction h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
  margin-top: 27px;
  margin-bottom: 17px;
  text-align: center;
}
.bestseller__card-direction p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 4px;
  text-align: center;
}
.bestseller__card-direction a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  width: 315px;
}
.bestseller__card-direction a:hover {
  border-radius: 100px;
  border: 1px solid #000;
  padding: 6px 107px;
  text-decoration: none;
}

.people-society {
  background: #cccccc;
  padding: 76px 0 51px 0;
}

.people-society__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.people-society__content {
  margin: auto 0;
}
.people-society__content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 31px;
}
.people-society__content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 40px;
}
.people-society__content a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
}

.culture-heritage {
  background: #d9d9d9;
  padding: 76px 0 51px 0;
}

.culture-heritage__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.culture-heritage__content {
  margin: auto 0;
}
.culture-heritage__content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 31px;
}
.culture-heritage__content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 40px;
}
.culture-heritage__content a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
}

.power-politics {
  background: #cccccc;
  padding: 76px 0 51px 0;
}

.power-politics__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.power-politics__content {
  margin: auto 0;
}
.power-politics__content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 31px;
}
.power-politics__content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 40px;
}
.power-politics__content a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
}

.future-make {
  background: #fff;
  padding: 190px 0 104px 0;
}
.future-make h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  width: 460px;
  margin: 0 auto 70px auto;
}

.future-make__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 110px 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.future-make__direction p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  color: #000;
  text-align: center;
}

.future-make__content-indent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1059px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: calc((100% - 360px) / 3);
      flex-basis: calc((100% - 360px) / 3);
}
.future-make__content-indent img {
  margin: 0 auto;
  margin-bottom: 26px;
}

.talby {
  padding: 52px 0 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ffffff), color-stop(30%, #f0f0f0));
  background: linear-gradient(#ffffff 30%, #f0f0f0 30%);
  margin: 0 auto;
}
.talby h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 102px;
  margin: 0 auto;
  width: 785px;
}

.talby__card-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 100px;
}
.talby__card-direction img {
  margin-bottom: 35px;
}
.talby__card-direction h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.17;
  color: #000;
  text-align: center;
}
.talby__card-direction p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.17;
  color: #000;
  text-align: center;
  margin-bottom: 44px;
}
.talby__card-direction a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 51px;
}

.keep {
  padding: 79px 88px;
  margin: 0 auto;
  background: #fff;
}
.keep h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 9px;
  text-align: center;
}
.keep p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 26px;
  text-align: center;
}
.keep button {
  padding: 7px 23px;
  background: #000;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px auto 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #fff;
}

.keep__form {
  text-align: center;
}

.keep__form__filds-name {
  margin-bottom: 18px;
}

.keep__form__input-first-name {
  margin-right: 60px;
  padding: 12px 76px 12px 8px;
  color: #a0a0a0;
}

.keep__form__input-second-name {
  padding: 12px 76px 12px 8px;
  color: #a0a0a0;
}

.keep__form__input-email {
  padding: 12px 407px 12px 8px;
  color: #a0a0a0;
}

.footer-book {
  padding: 51px 0 16px 0;
  background: #000;
  margin: 0 auto;
}

#footer-book__2021 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.65;
  color: #fff;
  text-align: center;
  margin-top: 17px;
}

.foote-bookr__logo {
  margin-bottom: 25px;
}

.footer-book__social-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.instagram {
  fill: #fff;
}

.footer-book__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-book__menu-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.footer-book__menu-about p, .footer-book__menu-contact p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.65;
  color: #fff;
  margin-bottom: 36px;
}
.footer-book__menu-about a, .footer-book__menu-contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}
.footer-book__menu-about a:hover, .footer-book__menu-contact a:hover {
  text-decoration: underline;
}

.btn-back-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 5%;
  right: 10%;
  position: fixed;
  z-index: 99;
  fill: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #000;
  border-radius: 100px;
  background: rgba(215, 229, 236, 0.7);
  padding: 7px 17px;
}
.btn-back-project svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 3px;
}
.btn-back-project a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-back-project a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */