.hero-frispes {
    padding: 0 0 57px 0;
    background: $color_white;

    & .title {
        @extend %title;
        color: $color_black;
        position: relative;
    }

    & .title::after {
        display: flex;
        content: '';
        width: 73px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 7em;
        background: $color_black;
    }
}

.hero-frispes__content {
    display: flex;
    gap: 48px;

    & .hero-frispes__title-first {
        font-family: "Lora";
        font-weight: 700;
        font-size: 50px;
        line-height: 1.28;
        color: $color_primary;
        width: 654px;
    }

    & span {
        color: $color_secondary;
    }

    & .hero-frispes__description {
        @extend %title;
        color: $color_text;
        width: 369px;
    }

    & img {        
        margin-left: 100px; 
        
    }
}

