.member-frispes {
    padding: 23px 0 72px 0;
    background: $color_primary;

    & h2 {
        font-family: "Lora";
        font-weight: 700;
        font-size: 40px;
        line-height: 1.28;
        color: $color_white;
        margin-bottom: 16px;
    } 

    & p {
        @extend %title;
        color: $color_text_df;
        margin-bottom: 33px;
    }    
}

.member-frispes__btn {    
    display: flex;
    padding: 13px 114px;    
    background-color: $color_secondary;
    outline: none;
    border: none;
    color: $color_white;
    font-family: "Lato";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;        
    text-transform: uppercase;   
}

.title-white {
    @extend %title; 
    position: relative;
    color: $color_title_white;
    margin: 49px 0 8px 0;   

    &::after {        
        display: flex;
        content: '';
        width: 73px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 10em;
        background-color: $color_title_white;        
    }
}

.member-frispes__direction {
    display: flex;

    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }
}

.member-frispes__content {
    @media screen and (min-width: 768px) {
        width: 445px;
    }    
}

.member-frispes__img {
    background-image: url(/images/desktop/frispes/Pattern.png);
}