header {
margin: 0 auto;
background: #fff;
}
.nav__direction {
display: flex;
padding: 7px 0;
margin: 0 auto;    
}

.nav__list-menu {
display: flex;
gap: 28px;

}

.nav__list-social {
display: flex;
gap: 15px;
}