.resume {
    @media screen and (min-width: 320px) {
            padding: 96px 0 105px 0;
        }
    
        @media screen and (min-width: 1100px) {
            padding: 96px 0 130px 0;
        }
    
    & h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.08;
        letter-spacing: 0.04em;
        color: var(--text-color-white);
        margin-bottom: 32px;
    }
}


//========================================

.main_content {
    background: #f5f7fa;
    margin: 0 auto;     

    @media screen and (min-width: 320px) {
        
        width: 290px;
        display: flex;
        flex-direction: column-reverse;
        
    }

    @media screen and (min-width: 480px) {
        width: 370px;
    }

    @media screen and (min-width: 768px) {
        width: 738px;
        flex-direction: row-reverse;
    }

    @media screen and (min-width: 1100px) {
        width: 1070px;            
        flex-direction: row-reverse;
    }    
}

.sidebar {
    background-color: #1e2939;
    padding-top: 40px;    
    width: 370px;

    @media screen and (min-width: 320px) {
        width: 290px;
    }

    @media screen and (min-width: 480px) {
        width: 370px;
    }

    @media screen and (min-width: 768px) {
        width: 255px;
    }

    @media screen and (min-width: 1100px) {
        width: 370px;
    }
    
    & img {
        @media screen and (min-width: 320px) {
            width: 290px;
            height: 290px;
            margin-bottom: 25px;
        }

        @media screen and (min-width: 480px) {
            width: 370px;
            height: 370px;                
        }

        @media screen and (min-width: 768px) {
            width: 255px;
            height: 255px;
            margin-bottom: 50px;
        }

        @media screen and (min-width: 370px) {
            width: 370px;
            height: 370px;
        }
    }
}

.sidebar-title {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contacts, .contacts-me,
.techskills,
.softskills, .languages {

    @media screen and (min-width: 320px) {
        margin-left: 17px;
    }

    @media screen and (min-width: 480px){
        margin-left: 27px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 17px;
    }

    @media screen and (min-width: 1100px) {
        margin-left: 40px;
    }    
}

.contacts-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin-right: 10px;
}

.contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  opacity: 0.5; 
}

.contacts-me {
    @media screen and (min-width: 320px) {
        margin-bottom: 25px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    } 
    
        & h3 {
            font-family: "Tinos", 'Times New    Roman', Times, serif;
            text-transform: uppercase;
            line-height: 1.15;
            letter-spacing: 0.1em;
            color: #ffffff;
    
            @media screen and (min-width: 320px) {
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 10px;
            }
    
            @media screen and (min-width: 768px) {
                margin-bottom: 20px;
            }
        }
    
        & h2 {
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 50px;
    
            @media screen and (min-width: 320px) {
                font-size: 35px;
                line-height: 1;
            }
    
            @media screen and (min-width: 768px) {
                font-size: 45px;
                line-height: 1.2;
    
            }
        }
    
        & h4 {
            font-family: "Tinos",
                'Times New    Roman',
                Times,
                serif;
            color: #ffffff;
            font-weight: 400;
            font-size: 19px;
            line-height: 0.1;
    
        }
}

.tech-skills-list {
    color: #ffffff;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-item {
    color: #fb6d3a;
}

.tech-skills-text {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
}

.contacts {

    & p {
        color: #ffffff;        
    }    
}

.techskills, .softskills, .contacts {
    @media screen and (min-width: 320px)  {
        margin-bottom: 22px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 44px;
    }    
}

.languages {
    @media screen and (min-width: 320px) {
            margin-bottom: 25px;
        }
    
        @media screen and (min-width: 768px) {
            margin-bottom: 366px;
        }
}

.about_user {    
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    @media screen and (min-width: 320px) {
        padding: 40px 7px 40px 7px;
    }

    @media screen and (min-width: 480px) {
        padding: 40px 17px 40px 17px;
    }

    @media screen and (min-width: 768px) {
        padding: 105px 40px;
    }       
}

.about {    

    & p {
        font-size: 14px;
        font-style: normal;
        line-height: 1.7;
        color: #595959;
        @media screen and (min-width: 320px) {
            width: 275px;
            margin-bottom: 15px;
        }

        @media screen and (min-width: 480px) {
           width: 336px; 
        }

        @media screen and (min-width: 768px) {
            width: 400px;
        }         
        
        @media screen and (min-width: 1100px) {
            width: 620px;
        }
    }
}

.projects {

    & p {
        color: #595959;
    }
    @media screen and (min-width: 320px) {
        
        margin-bottom: 15px;        
    }
    
    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }    
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    color: #000000;
}

.project-list {
    display: flex;
    justify-content: space-between;
    padding: 9px;    
}

.project-items,
.project-braked {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
}

.project-link,
.project-link-style {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
}

.project-link-style-my {
    color: #595959;
    text-decoration: none;
    border-bottom: 0.3em dashed #fb6d3a;
    padding-bottom: 0.3em;
    /*отступ от текста вниз*/
    padding: 0.1em;
}

.project-link-style-my:hover {
    position: relative;
    bottom: 1em;
    color: #fb6d3a;
}

.project-link {
    margin-left: 10px;
}

.work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 10px;
 }

.organization {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: #fb6d3a;
}

.education {
    margin-top: 20px;
}

.specialist {
    font-weight: bold;
    color: var(--text-color-black);
}

.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    color: #a8a8a8;
    margin-bottom: 10px;
}


.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
}

.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
}

