
%p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #1b1d1f;
}

%mod {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

 .goose__greeting {
     background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
     height: 100%;
     display: flex;
     flex-direction: column;   
 }

.wrapper {
     
     height: 100%;
     position: relative;    

     @media screen and (min-width: 1100px) {
        width: 1100px;
     }
}



.goose__greeting__logo {
    margin: 34px 0 58px 0;
    top: 0;
    left: 0;
    
    display: flex;
    position: absolute;
    

    @media screen and (min-width: 320px) {
        
    }

    & p {
        margin-left: 18px;
        font-size: 16px;
        color: #000;
    }
}

.goose__greeting__direction {
    display: flex;
    justify-content: space-between; 
    
    @media screen and (min-width: 320px) {
        flex-direction: column-reverse;        
    }

    & img {
        @media screen and (min-width: 320px) {    
            margin-top: 96px;
        }
    }
}

.goose__greeting__container-content {
    background-color: #ffffff;    
    align-self: center;

    @media screen and (min-width: 320px) {
        padding: 60px 16px;
    }

    @media screen and (min-width: 1100px) {
        padding: 60px 56px;
    }   
        
    & h3 {
            color: #1b1d1f;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 16px;

            @media screen and (min-width: 320px) {
                text-align: center;
            }
        }

    & h2 {
            color: #ff6b0a;
            font-weight: 600;
            font-size: 24px;
            line-height: 1;
            margin-bottom: 48px;

            @media screen and (min-width: 320px) {
                text-align: center;
            }
        }

    & h1 {
            color: #1b1d1f;
            font-weight: 600;            
            line-height: 1.25;

            @media screen and (min-width: 320px) {
                font-size: 40px;
            }

            @media screen and (min-width: 1100px) {
                font-size: 64px;
            }
        }   

    & p {
            margin: 24px 0 48px 0;
            @extend %p;

            @media screen and (min-width: 320px) {
                text-align: center;
            }
    }
}

.goose__greeting__launch {
    background: #ff6b0a;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    border: 0;

    @media screen and (min-width: 320px) {
        display: flex;
        margin: 0 auto;
    }
}

.goose__facts {
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #ffffff;
    
    & svg {
        display: flex;
        margin: 0 auto;
    }

    & h3 {
        font-weight: 600;        
        color: #1b1d1f;
        margin: 16px 0;
        text-align: center;
          @media screen and (min-width: 320px) {
            font-size: 36px;
            line-height: 1.5;
          }

          @media screen and (min-width: 1100px) {
            font-size: 48px;
            line-height: 2.08;
          }
    }

    & p {
        @extend %p;        
        margin: 0 auto;

        @media screen and (min-width: 320px) {
                width: 290px;
                text-align: center;
        }

        @media screen and (min-width: 1100px) {
            width: 875px;
            text-align: start;
        }
    }

   
}

.goose__facts__direction {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;    

    & img {
            margin: 0 auto;
        }

        & h4 {
            font-weight: 600;
                font-size: 24px;
                line-height: 1;
                color: #1b1d1f;
                margin: 12px 0 32px 0;
                text-align: center
        }

        & p {
            @extend %p;
                width: 280px;
                text-align: center;
                margin: 0 auto;
        }
}

// .victory__content-direction {
   
    // width: 100%;
    
    
    //@at-root: flex;
    // flex-direction: column;
    // align-items: center;    

// }



.victory {
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg, #c1e8ff 0%, #ffffff 100%);
    padding: 72px 0;
}

.victory__content-direction {
    & svg {
        @media screen and (min-width: 320px) {
            display: flex;
            margin: 0 auto;
        }
    }
    

    & h4 {
        font-weight: 600;
        font-size: 48px;
        line-height: 2.08;
        color: #1b1d1f;
        margin: 16px 0;
        
            @media screen and (min-width: 320px) {
                font-size: 40px;
                line-height: 1.2;
                letter-spacing: 0.1em;                
                text-align: center;
            }
    }

    & p {
        @extend %p;       
        text-align: center;

        @media screen and (min-width: 320px) {
            width: 290px;
        }

        @media screen and (min-width: 1100px) {
            width: 875px;
        }
    }
}





.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    /*добавил так как небыло фона*/
    padding: 32px 64px 60px 64px;
    /*добавил т.к. растягивало на весь экран*/
    position: relative;
}

.modal-form-container {
    background: #ffffff;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.model-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    align-items: center;
    color: #000000;
    margin: 32px 0 12px 0;
}

.modal-form-descr {
    @extend %mod;
    margin-bottom: 24px;
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-field-name {
    @extend %mod;
    margin-bottom: 8px;
}

.modal-field-input {
    border: 1px solid #005bbb;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    @extend %mod;
    padding: 4px 8px;
}

.modal-form-btn {
    background: #ff6b0a;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #1b1d1f;
    cursor: pointer;
    border: 0;
    background: none;
}

.modal-descr {
    margin-bottom: 0;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

