.hero {
    @media screen and (min-width: 320px) {
        padding: 96px 0 72px;    
    }

    @media screen and (min-width: 1100px) {
        padding: 96px 0 263px;
        margin: 0 auto;       
    }
}

.hero-wrapper {
    display: flex;
    @media screen and (min-width: 320px) {
        flex-direction: column-reverse;
        
    }
    
    

    @media screen and (min-width: 1100px) {       
        justify-content: space-between;
        position: relative;
    }    
}

.hero-svg {    
    display: flex;
    @media screen and (min-width: 320px) {   
        
        width: 290px;
        height: 290px;
    }

    @media screen and (min-width: 480px) {
        margin: 0 auto;
        width: 450px;
        height: 450px;
    }
    
    @media screen and (min-width: 768px) {
        width: 500px;
        height: 500px;
    }
    @media screen and (min-width: 1100px) {
        
        position: absolute;   
        top: -37%;
        left: 55%;         
    }   
}

.hero-description {  
    @media screen and (min-width: 1100px) {
        width: 514px;  
        height: 280px;              
    }  

    & h1 {
        font-family: "Tinos", Times, serif;
        font-weight: 400;
        line-height: 1.15;
        text-transform: uppercase;
        color: var(--text-color-job);
        margin-bottom: 10px;
                
        @media screen and (min-width: 320px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1100px) {
            
            font-size: 20px;            
        }
    }

    & h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;        
        color: var(--text-color-green);

        @media screen and (min-width: 320px) {
            font-size: 40px;
            line-height: 1;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1100px) {
            
            font-size: 46px;   
            line-height: 1.2;
            margin-bottom: 11px;
        }
    }

    & p {
        
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--text-color-white);        

        @media screen and (min-width: 320px) {
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1100px) {
            margin-bottom: 29px;
        }        
    }        
}

.hero-btn {
    @media screen and (min-width: 320px) {
        display: block;
    }

    @media screen and (min-width: 1100px) {
        display: flex;        
    }

    & button {      
        background: var(--text-color-green);
        border: none;
        border-radius: 6px;
        outline: none;
        padding: 12px 20px;
        margin-right: 210px;
            margin-bottom: 105px;

        @media screen and (min-width: 320px) {
            margin: 0 auto;
        }
            
        @media screen and (min-width: 1100px) {
            margin: 0 210px 105px 0;
        }
            
            & a {
                
                font-family: "Montserrat",
                        sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.2;
                color: var(--text-color-black);
                
                &:hover {
                    color: var(--text-color-white);
                }
            }         
    }  
               
            :nth-child(2) {
                margin-right: 0;
            }        
}

.hero-scrolle {
    @media screen and (min-width: 320px) {
        display: none;
    }

    @media screen and (min-width: 1100px) {
        display: flex;        
        margin: 0 auto;
    }
}