.skills {
    @media screen and (min-width: 320px) {
        padding: 0 0 100px 0;
    }

    @media screen and (min-width: 1100px) {
        padding: 0 0 280px 0;
    }

    & h2 {       
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.08;
        letter-spacing: 0.04em;
        color: var(--text-color-white);
          
        
        @media screen and (min-width: 320px) {
            margin-bottom: 17px;
        }
    }

    & h3 {        
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(text-color-title-project);
        margin: 11px 0 11px 0;        
    }    
    
    & p {        
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--text-color-white);
        margin-top: 11px;
        text-align: center;  
        width: 83px;
        
        @media screen and (min-width: 320px) {
            margin-top: 0;
        }
    }
}

.skills__direction {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 320px) {
        gap: 60px;
    }

    @media screen and (min-width: 480px) {
        gap: 60px;
    }

    @media screen and (min-width: 768px) {
        gap: 20px 60px;

    }
    
    & svg {
        display: flex;
        
        @media screen and (min-width: 320px) {
        width: 79px;
        height: 79px;        
        }

        @media screen and (min-width: 768px) {
            width: 85px;
            height: 85px;
        }

        @media screen and (min-width: 1100px) {
            width: 128px;
            height: 128px;
            
        }
    }     

    @media screen and (min-width: 1100px) {   
        
        margin-bottom: 59px;
    }
}

