.lasles__use {
    padding: 0 0 75px;
    background: $color_white;
}

.lasles__use__derection {
    display: flex;  
    gap: 172px; 
}

.lasles__use__content {
    padding-top: 41px;
    & h2 {
        @extend %lasles_text_bold;
        font-size: 30px;
        color: $laslesvpn_gray;
        margin-bottom: 16px;
    }
    & p {
        @extend %lasles_text_normal;
        color: $color_text;
        margin-bottom: 10px;
    }
}

.lasles__use__list {    
    @extend %lasles_text_bold;
    font-size: 16px;
    color: $laslesvpn_gray;    
    display: flex;
    flex-direction: column;
    gap: 21px;
    & li {
        position: relative;
        padding-left: 38px;
    }    
    & li::before {
        display: flex;   
        left: 0;   
        top: -1px; 
        position: absolute;
        content: url(../../../images/desktop/lasles/Vector.svg);
    }    
}