$color_primary: #10375c;
$color_secondary: #ff5722;
$color_black: #222831;
$color_text: #6A6A6A;
$color_white: #fff;
$color_title_white: #f8f8f8;
$color_bg_footer: #0d2c4a;

%footer_text {
    font-family: "Lora";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
}